*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


.container{
    border: solid 2px black;

    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(400px,1fr) minmax(auto, 1fr);

    width: 100vw;
    height: 100vh;
    background-color: rgb(223, 222, 222);
}

/* LEFT-MENU */
.left-menu{
    border: solid 2px black;
    padding: 10px 0 0 120px;
    display: grid;
    grid-template-rows: auto 70px;
    background-color: white;
}

.navigation{
    display: grid;
    grid-auto-rows: 45px;

}

.twitter-icon{
    height: 25px;
    width: 25px;
    margin-bottom: 50px;
}

.home p,
.explore p,
.notifications p,
.messages p,
.bookmarks p,
.lists p,
.profile p,
.more p{
    display: inline;
    font-size: larger;
    padding: 10px;
    font-weight: bold;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    
}

.home-icon,
.explore-icon,
.notifications-icon,
.messages-icon,
.bookmarks-icon,
.lists-icon,
.profile-icon,
.more-icon{
 width: 25px;
 height: 25px;
}



.tweet{
    background-color: #00acee;
    margin-right: 30px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 1px 1px 1px 1px #00acee;
    border: none;
}

.tweet a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.my-profile{

}

.profile-picture{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
}


.points{
  margin-left: 140px; 
}


/* MAIN */
.main{
    border: solid 2px black;
    background-color: rgb(223, 222, 222);
    overflow: scroll;
    overflow: auto;
}

::-webkit-scrollbar { 
    display: none; 
}


.main h1{
    border-bottom: solid 2px rgb(223, 222, 222);
    margin-bottom: 5px;
    padding: 5px;
    font-weight: bold;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    background-color: white;
}

.comment-box{
    border-bottom: solid 2px rgb(223, 222, 222);
    padding-bottom: 5px;
    margin-bottom: 15px;
    background-color: white;
}

.comment{
    position: relative;
}


.comment .profile-picture{
    position: absolute;
    margin-left: 10px;
}

.comment .write-comment{
    margin-left: 55px;
    margin-top: 10px;
    overflow: hidden;
    border: none;
}


.comment-icon{
    display: inline;
    margin-left: 55px;
}

.media-icon,
.gif-icon,
.chart-icon,
.emoji-icon,
.calendar-icon{
    width: 20px;
    height: 20px; 
    fill: #00acee;
}


.tweet-1{
    background-color: #00acee;
    margin-right: 30px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 1px 1px 1px 1px #00acee;
    border: none;
    margin-left: 110px;
    display: inline;
    
}

.tweet-1 a{
    text-decoration: none;
    color: white;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    
    margin: 30px;
}

.main .posts{
    overflow: scroll;
}

.post-area{
    display: grid;
    grid-template-columns: 60px 1fr;
    border: solid 1px rgb(223, 222, 222);
    background-color: white;
    overflow: scroll;
}

.posts h2{
    display: inline;
    font-size: smaller;
}

.posts h3{
    display: inline;
    font-size: smaller;
    color: grey;
}

.comment-icon,
.repost-icon,
.like-icon,
.share-icon{
    width: 20px;
    height: 20px;
}

.comment-like-icons{
display: grid;
grid-template-columns: repeat(4, auto);
}










/* RIGHT-MENU */
.right-menu{
    border: solid 2px black;
}

.search{
    /* position: relative; */
    border: solid 2px black;
    display: grid;
    grid-template-columns: 35px 1fr;
    margin: 0 20px 0 20px;
}


.search-button{
    /* position: absolute; */
    border: none;

}

.search-input{
    width: auto;
    height: 35px;
}

.search-icon{
    width: 30px;
}



